@import "../../index.scss";

.container__todos {
  //background-color: rgb(48, 47, 47);
  padding: 6px;

  button {
    border: none;
    background-color: transparent;
    color: $lGray;
    //color: $darkerWhite;
    border: none;
    opacity: 0.7;
  }
  p {
    margin-top: 25vh;
    font-size: 2.5rem;
    color: $lGray2;
  }
}

.options-top {
  //background-color: rgb(29, 29, 27);
  display: flex;
  justify-content: space-between;
  padding: 4px 3px;
  margin-bottom: 8px;
  background-color: $lBlack;
  border-radius: 3px;
  font-size: 10rem; //erase
  //background-color: yellowgreen;
  .fas,
  .far {
    font-size: 1.7rem;
  }
  .show-completed {
    color: $lGray2;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  .hide-is-active {
    color: rgb(253, 241, 71);
    &:hover {
      opacity: 0.8;
    }
  }
  .hide-completed:focus {
    color: red;
  }
}

.btn__toggle-completed {
  padding: 2px;
  color: #798168;
  border-radius: 2px;
  //background-color: white;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

button.delete {
  color: $dPink;
  &:hover,
  &:focus {
    color: $lRed;
  }
}

.fas,
.far {
  font-size: 1.4rem;
}

.fa-square {
  color: $lGray;
}
