@import "../../index.scss";

.container__todos {
  padding: 6px;

  button {
    background-color: transparent;
    color: $lGray;
    //color: $darkerWhite;
    border: none;
    opacity: 0.7;
  }
  //msg to be displayed if search / list is empty
  p {
    margin-top: 25vh;
    font-size: 2.5rem;
    color: $lGray2;
  }
}

.options-top {
  background-color: $lBlack;
  padding: 4px 3px;
  font-size: 10rem; //erase
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-radius: 3px;
  .fas,
  .far {
    font-size: 1.7rem;
  }
  .show-completed {
    color: $lGray2;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  .hide-completed {
    color: rgb(253, 241, 71);
    opacity: 1;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      opacity: 0.9;
    }
  }
  .btn__toggle-completed {
    padding: 2px;
    color: #798168; //CHANGE?
    border-radius: 2px;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  button.delete {
    color: $dPink;
    &:hover,
    &:focus {
      color: $lRed;
      opacity: 1;
    }
  }
}

//fontawsome
.fas,
.far {
  font-size: 1.4rem;
}
.fa-square {
  color: $lGray;
}
