//@import "../../index.scss";
@import "../../App.scss";
.todo-item {
  background-color: $mBlack;
  color: $lGray;
  display: flex;
  align-items: center;
  margin-bottom: 0.9rem;
  padding: 9px 6px;
  border-radius: 6px;
  //border-bottom: 4px solid rgb(71, 77, 78);
  //box-shadow: 0px 1px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.65);
  //box-shadow: 1px 5px 6px 1px rgba(0, 0, 0, 0.35);
}

.wrapper__checkbox-title {
  //background-color: white;
  padding-right: 8px;
  display: flex;
  flex: 1;
  justify-content: space-between;

  label {
    display: flex;
    align-items: center;
    :hover {
      cursor: pointer;
    }
  }
  span {
    padding-left: 8px;
    word-break: break-all;
  }
}

.wrapper__edit-delete {
  button {
    background-color: transparent;
    min-height: 10px;
    border: none;
  }

  .btn__edit {
    color: $pGreen;
    margin-right: 8px;
    opacity: 0.7; //6?
    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .btn__delete {
    color: $dPink;
    &:hover,
    &:focus {
      color: $lRed;
      opacity: 1;
    }
  }
}

//fontawsonme
.fas {
  border: none;
}

@media (min-width: 992px) {
  .todo-item {
    padding: 17px 16px;
  }
}
