.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.wrapper__title-edit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}
