button {
  padding: 1px 4px;
  cursor: pointer;
}

button:focus {
  //opacity: 1;
  outline: none;
}
//Colors: m = main / s = secondary / l = light / d= dark
$mWhite: #fff;
$sWhite: #ecf2f3;
$lGray: #cccfcf;
$dGray: #2a2828;
$mBlack: #22221d;
$mGreen: #9acd32;
$mRed: #8f4545;
$sRed: #ff0000;
