* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #302f2f;
  font-size: 1.7rem;
}

h1 {
  color: #9acd32;
}

$darkerWhite: #ecf2f3;
$lRed: #ff0000;
$dPink: #8f4545;

$pWhite: #fff;
$pGray: #ececec;
$lGray: #cccfcf;
$lGray2: #b0b4aa;
//$mGray: #535353;
$b: #5e5b5b;
$mGray: #302f2f;
$dGray: #2a2828;
$sBlack: #22221d;
$lBlack: #2a2929;
$lgreen: #9acd32;
$pGreen: #82b340;
//$dRed: #b31a1a;
